<html>
    <head>
        <title>Light House - Home</title>
    </head>
    <body>
        <h2>Home Page</h2>
        <div>
            <a href="{{ path('index_person') }}">Persons</a>
            <a href="{{ path('index_role') }}">Roles</a>
        </div>

    </body>
</html>